﻿@import "Template/simplex.min.css";
.message-header,
h3 {
  margin-top: 50px;
}
.message {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: -20px;
  padding: 5px;
}
.message .title {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #cccccc;
}
.message .reply {
  border-top: 1px solid #cccccc;
  margin-top: 5px;
  margin-left: 15px;
}
.message .reply .created {
  font-size: 9px;
  margin-left: 10px;
  text-shadow: 2px 2px 3px #cccccc;
}
/*# sourceMappingURL=Site.css.map */