﻿@import "Template/simplex.min.css";
@baseMessageColor: #ccc;

.message-header, h3 
{
    margin-top: 50px;
}

.message 
{
    background: none repeat scroll 0 0 lighten(@baseMessageColor, 25%);
    border: 1px solid @baseMessageColor;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: -20px;
    padding: 5px;

    .title 
    {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 2px 2px 4px @baseMessageColor;
    }

    .reply 
    {
        border-top: 1px solid @baseMessageColor;
        margin-top: 5px;
        margin-left: 15px;

        .created 
        {
            font-size: 9px;
            margin-left: 10px;
            text-shadow: 2px 2px 3px @baseMessageColor;
        }
    }
}



