﻿<h3>New Topic</h3>
<form name="newTopicForm" ng-submit="save()">
    <fieldset>
        <div>
            <label for="title">Title</label>
            <br />
            <input type="text" name="title" ng-model="newTopic.title" required ng-minlength="5" />
            <span class="error" ng-show="newTopicForm.title.$error.required">*</span>
            <span class="error" ng-show="newTopicForm.title.$error.minlength">Minimum 5 characters</span>
        </div>
        <br />
        <div>
            <label for="body">Body</label>
            <br />
            <textarea name="body" rows="5" cols="30" ng-model="newTopic.body" required required ng-minlength="15"></textarea>
            <span class="error" ng-show="newTopicForm.body.$error.required">*</span>
            <span class="error" ng-show="newTopicForm.body.$error.minlength">Minimum 15 characters</span>
        </div>
        <div>
            <input type="submit" class="btn" value="Save" ng-disabled="newTopicForm.$invalid" />
            <a href="#/" class="btn">Cancel</a>
        </div>
    </fieldset>
</form>