﻿<div>
    <div class="message-header">
        <h1>Message Board</h1>
        <p class="lead">Latest Messages ...</p>
        <div>Message Count: {{data.topics.length}}</div>
    </div>

    <div>
        <a href="#/newmessage">Add New Message</a>
    </div>

    <div class="progress progress-striped" ng-show="isBussy">
        <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
    </div>

    <div class="messages">
        <div class="message row" ng-repeat="i in data.topics">
            <div class="title span10">
                <a data-ng-href="#/newmessage/{{ i.id }}"> {{ i.title }} </a> 
            </div>
            <div class="date span2">{{ i.created | date:"medium" }}</div>
            <div class="contents span12">{{i.body}}</div>
            <div class="replies span12">
                <div class="reply" ng-repeat="r in i.replies">
                    <div class="created pull-right">{{ r.created  | date:"medium" }}</div>
                    <div class="content">{{ r.body }}</div>
                </div>
            </div>
        </div><br />
    </div>
</div>