﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

<div class="row">
    <div class="col-lg-12">
        <div class="well bs-component">
            <form class="form-horizontal" method="post">
                <fieldset>
                    <legend>Please fill the data</legend>
                    <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" data-val="true" data-val-required="this field is required">
                            <span class="field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" data-val="true" data-val-required="this field is required" data-val-email="invalid email">
                            <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
                        <div class="col-lg-10">
                            <input type="number" class="form-control" id="inputPhone" placeholder="Phone" name="phone" data-val="true" data-val-required="this field is required" data-val-number="invalid number">
                            <span class="field-validation-valid" data-valmsg-for="phone" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Comment</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="3" id="textArea" name="comment" data-val="true" data-val-required="this field is required"></textarea>
                            <span class="help-block">Put your comment here</span>
                            <span class="field-validation-valid" data-valmsg-for="comment" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            @if (ViewBag.MailSent != null && ViewBag.MailSent)
                            {
                                <div>Mail Sent !</div>
                            }
                        </div>
                    </div>
                </fieldset>



            </form>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
        </div>
    </div>
</div>