﻿@model IEnumerable<Pluralsight.Data.Topic>
@{
    ViewBag.Title = "Home Page";
    ViewBag.initModule = "homeIndex";
}

@section scripts { 
<script src="~/js/home-index.min.js"></script>
}

<div ng-view=""></div>